# this is a gitignore file
# ignore the testset folder
# also the trainset
*.iml
*.ipr
*.iws
*.xlsx
.idea/
.gradle/
__pycache__/

misc/
converted_keras/
final_testset/
old_testset/
models/
.vscode/settings.json
